.first{
  background-color:#1746A2;
  padding: 7% 15%;
padding-top:0px;
}
.collapse{
  padding-left:200px;
}
h1{
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size:50px;
}
.carousel{
  padding-top: 500px;
}
